// * {
// 	box-sizing: border-box;
// 	-webkit-box-sizing: border-box;
// 	-moz-box-sizing: border-box;
// }
// *,
// ::before,
// ::after {
// 	background-repeat: no-repeat;
// }
// *:focus {
// 	outline: none;
// }
// body {
// 	margin: 0;
// }
// a,
// a:visited {
// 	text-decoration: none;
// }
// a {
// 	color: inherit;
// }
// ul,
// ol {
// 	list-style: none;
// }
// p,
// ul,
// ol {
// 	margin: 0;
// 	padding: 0;
// }
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
// 	margin: 0;
// }
// img {
// 	max-width: 100%;
// }
// input,
// textarea,
// button,
// select {
// 	appearance: none;
// 	-webkit-appearance: none;
// 	-moz-appearance: none;
// 	border: none;
// 	background-color: transparent;
// 	&:focus,
// 	&:active {
// 		outline: none;
// 	}
// }
// textarea {
// 	resize: none;
// }
// figure,
// fieldset {
// 	padding: 0;
// 	margin: 0;
// 	border: none;
// }

// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
// 	/* display: none; <- Crashes Chrome on hover */
// 	-webkit-appearance: none;
// 	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
// }
