// $gutter: 16px;

// $large: 1025px;
// $medium: 769px;
// $small: 480px;

// $siteWidth: 1224px;

// $min: min-width;
// $max: max-width;

// $hexPurple: #b3a3ff;
// $hexPurpleLight: #d5ccff;
// $hexPurpleLighter: #e7e6ff;

// $hexRed: #fd615c;
// $hexRedLight: #fececd;
// $hexRedLighter: #fff3f3;

// $hexBlue: #5ddefc;
// $hexBlueLight: #91e9fd;

// $hexGreen: #34e8a5;
// $hexGreenLight: #91f3ce;

// $hexWhite: #fff;

// $hexBlack: #262626;
// $hexBlackLight: #515151;
// $hexBlackLighter: #4f4f4f;
// $hexGrey: #878890;
// $hexGreyLight: #bdbdbd;
// $hexGreyLighter: #d6d6d6;
