.table {
    .cellWrapper {
      display: flex;
      align-items: center;
  
      .image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
      }
    }
  
    .status {
      padding: 5px;
      border-radius: 5px;
  
      &.Approved {
        color: rgb(181, 229, 245);
        background-color: rgba(238, 241, 238, 0.151);
      }
      &.Pending {
        color: lightcoral;
        background-color: rgba(189, 189, 178, 0.103);
      }
    }
  }