:root {
	--gray-text: #e0e0e0;
	--gray-color: #acabab;
	--gray-opacity-color: #f9f9f9;
	--black-color: #262729;
	--red-color: #ee685f;
	--red-bright-color: #780016;
	--blue-color: #2a90d9;
	--blue-color-opacity: #f5fafc;
	--white-color: #ffffff;
}
