.acc_offers_see_all {
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid black;
	border-radius: 20px;
	margin-top: 35px;

	&:hover {
		background-color: rgba(#000000, 0.8);
		color: white;
		cursor: pointer;
	}
}
