.container {
	width: 100vw;
	margin-top: 70px;
	padding: 50px 10%;
}

.meta_infos {
	max-width: 25%;
	display: inline;
	justify-content: space-between;
}

.meta_infos > img {
	width: 15px;
	height: inherit;
}

.meta_infos > span {
	text-decoration: underline black;
	margin: 0 10px;
}

.meta_infos > span:nth-of-type(1) {
	text-decoration: none;
}

.infos_images {
	height: 450px;
	width: 100%;
	margin: 50px 0 0;
	border-radius: 20px;
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, calc(450px / 2));
	gap: 10px;
}

.infos_images > div {
	grid-column: 1/2;
	grid-row: 1/4;
}

.infos_images > div:hover {
	opacity: 0.8;
	cursor: pointer;
}

.infos_images > div:nth-of-type(1) {
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;
}
.infos_images > div:nth-of-type(2) {
	grid-column: 3;
	grid-row: 1;
}
.infos_images > div:nth-of-type(3) {
	grid-column: 3;
	grid-row: 2;
}
.infos_images > div:nth-of-type(4) {
	grid-column: 4;
	grid-row: 1;
}
.infos_images > div:nth-of-type(5) {
	grid-column: 4;
	grid-row: 2;
}

.infos_images > div > img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.container h1 {
	margin: 150px 0 0;
	text-align: center;
}

.container h2 {
	margin-bottom: 20px;
}
