* {
	box-sizing: border-box;
}

.item {
	height: 100px;
	display: grid;
	grid-template-columns: 1fr 50px;
	place-content: space-between;
	align-items: center;
	border: 1px solid rgba(gray, 0.2);
	border-radius: 20px;
	margin-bottom: 15px;
	padding: 10px 20px;

	> div {
		display: flex;
		flex-direction: column;
		background-color: red;
		height: 80px;
		// align-items: center;
		// gap: 20px;

		// > div {
		// 	display: flex;
		// 	align-items: center;
		// 	justify-content: center;
		// 	width: 30px;
		// 	height: 30px;
		// 	border-radius: 50%;
		// 	border: 1px solid rgba(gray, 0.2);
		// 	cursor: pointer;
		// }

		> p {
			margin: 0;
		}
	}
}
