@import url("../../constants/variables.css");

.container {
	width: 100vw;
	height: 70px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--gray-color);
}

.container li,
.container img,
.right {
	cursor: pointer;
}

.left {
	display: flex;
	align-items: center;
	margin-right: 30px;
	gap: 100px;
}

.left img {
	height: 70px;
	margin-left: 50px;
}

.left ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	gap: 50px;
	font-size: 20px;
}

.right {
	height: 100%;
	display: flex;
	align-items: center;
	margin-right: 30px;
}
