@import '../../scss/tools.scss';

.input {
	height: 60px;
	width: 100%;
	border-radius: 7px;
	border: 1px solid rgba(gray, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
	padding: 5px 10px;
	margin-bottom: 15px;

	span {
		font-size: 12px;
		color: gray;
	}
	input {
		border: none;
		outline: none;
		font-size: 18px;
	}
}
