@import "../../scss/tools.scss";

.topSearch {
  position: relative;
  width: 600px;
  margin: 0 auto 80px;
  border-radius: 50px;
  padding: 10px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 100px;
  gap: 15px;
  border: 1px solid var(--gray-text);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  background-color: var(--white-color);
}

.topSearch > div {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  gap: 15px;
}
.topSearch > div:nth-child(1) {
  border-right: 2px solid var(--gray-text);
}

.topSearch > div:nth-child(3) {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: var(--red-color);
  cursor: pointer;
}

.topSearch > div:nth-child(3) > * {
  font-size: 18px;
  color: white;
}

.topSearchInfos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2px;
  gap: 5px;
}

.topSearchInfos > span {
  padding-left: 7px;
}
.topSearchInfos > input {
  height: 30px;
  font-size: 16px;
  padding: 0 7px;
  outline: none;
  border: none;
  background-color: transparent;
  font-weight: bold;
}

.calendar {
  position: absolute;
  top: 100px;
  right: 100px;
}
