.container {
	width: 100%;
	height: 350px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	// justify-content: center;
	// align-items: center;

	> div {
		height: 200px;
		border: 1px dashed gray;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		overflow: hidden;

		span {
			font-size: 20px;
			color: gray;
		}
	}
	p {
		font-size: 20px;
		margin-bottom: 15px;
		margin-top: 20px;
		font-weight: bold;
	}
	span {
		font-size: 14px;
	}

	input {
		margin-top: 20px;
	}
}

.upload {
	text-decoration: underline;
	cursor: pointer;
	padding: 5px;
	margin-top: 20px;
	font-weight: 600;
}

.uploadedImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	scale: 1.025;
	transition: all 0.2s ease-in-out;

	&:hover {
		transform: scale(1.05);
	}
}
