@import '../../scss/tools.scss';

.container {
	padding: 0 70px;
}
.container > h1 {
	text-align: center;
	margin: 150px 0 50px;
	font-size: 50px;
}

.loading {
	width: 100px;
	margin: 0 auto;
}

.loading > * {
	text-align: center;
	margin: 80px 0 200px;
	font-size: 100px;
	animation: rotate 0.4s linear infinite;
}

.posts {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 5px;
	column-gap: 25px;
	row-gap: 60px;
}

.onePost {
	animation: fadeInUp 1s ease forwards;
	transition: all 0.4s;
	transform: translateX(-20px);
	opacity: 0;
}

.onePost:nth-of-type(1) {
	animation-delay: 0.1s;
}
.onePost:nth-of-type(2) {
	animation-delay: 0.2s;
}
.onePost:nth-of-type(3) {
	animation-delay: 0.3s;
}
.onePost:nth-of-type(4) {
	animation-delay: 0.4s;
}
.onePost:nth-of-type(5) {
	animation-delay: 0.5s;
}
.onePost:nth-of-type(6) {
	animation-delay: 0.6s;
}
.onePost:nth-of-type(7) {
	animation-delay: 0.7s;
}
.onePost:nth-of-type(8) {
	animation-delay: 0.8s;
}
.onePost:nth-of-type(9) {
	animation-delay: 0.9s;
}
.onePost:nth-of-type(10) {
	animation-delay: 1s;
}
.onePost:nth-of-type(11) {
	animation-delay: 1.1s;
}
.onePost:nth-of-type(12) {
	animation-delay: 1.2s;
}
.onePost:nth-of-type(13) {
	animation-delay: 1.3s;
}
.onePost:nth-of-type(14) {
	animation-delay: 1.4s;
}
.onePost:nth-of-type(15) {
	animation-delay: 1.5s;
}
.onePost:nth-of-type(16) {
	animation-delay: 1.6s;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateX(-20px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
