  .Notification{
    width: 100%;
    display: flex;
  
    .notificationContainer {
      flex: 6;
    }}

.AdminPanel {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f5f5f5;
    border-radius: 4px;
   
  }
  
  .AdminPanel h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .messages {
    margin-bottom: 20px;
  }
  
  .message {
    background-color: #eaeaea;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  form {
    display: flex;
    align-items: center;
    position: center;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #a2c7ee;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }

